html,body{
    top:0;
    bottom:0;
    left:0;
    right:0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .wrapper-vertical{
    display: flex;
    flex-direction: column;
    position: relative;

}

/*-----------------------------------------------------------sidebar---------------------------------------------------------------------------------------*/

.wrapper .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #f5f5f5;
}

.wrapper .sidebar img {
    box-sizing: border-box;
    display: block;
    float: none;
    position: static;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 15px;
    background-color: #f5f5f5;
}

.wrapper .sidebar .nav {
    list-style-type: none;
    width: 100%;
    margin-top: 20px;
    border-top: 2px solid #f5f5f5;
}


.wrapper .sidebar .nav li a {
    display: block;
    text-decoration: none;
    color: steelblue;
    padding: 12px 16px;
}

.wrapper .sidebar .nav li a .fas {
    width: 30px;
    float: right;
    font-size: 20px;
}

.wrapper .sidebar .nav li a .fab {
    width: 28px;
    float: right;
    font-size: 20px;
}

.wrapper .sidebar .nav li a:hover:not(.active) {
    color: white;
    background-color: steelblue;
}

.wrapper .sidebar .nav a.active {
    color: white;
    background-color: rgb(69, 161, 57);
}




/*-----------------------------------------------------------main containt---------------------------------------------------------------------------------------*/

.wrapper .maincontaint {
    width: 100%;
    margin-left: 250px;
}

.wrapper .maincontaint .titleBar {

    color: white;
    padding: 20px;
    background-image: linear-gradient(rgb(69, 161, 57), rgba(69, 161, 57, 0.7));
    text-align: center;

}

.wrapper .maincontaint .main {
    text-align: center;
    width: 90%;
    box-shadow: 0.5px 0.5px 10px #9e9e9e;
    border-radius: 10px;
    margin: 20px auto 10px;
}

.wrapper .maincontaint .main .header {
    padding: 20px;
    text-align: center;
}

.wrapper .maincontaint .main .header img{
    width:100%; height:200px;
    object-fit: cover;
    object-position: 0 80%;
    border-radius: 10px;
    filter: blur(1px);
}

.wrapper .maincontaint .main .header h1{
    position: absolute;
    top:210px;
    left:50%;
    transform: translate(-50%,-50%);
    color: #577284;
    background-color: rgba(255,255,255,0.9);
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2.5em;
    font-family: Helvetica Neue,sans-serif;
}

.wrapper .maincontaint .main .description {
    text-align: left;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: "Arial Narrow", sans-serif;
    width: 96.7%;
    background-image: linear-gradient(to right,rgb(69, 161, 57),whitesmoke);

}

.wrapper .maincontaint .main .description .text {
    margin-left: 1%;
    background: white;
    padding: 1rem;
    border-width: 3px;
}

.wrapper .maincontaint .main .description a span {
    color: dodgerblue;
}

.wrapper .maincontaint .main .description a{
    text-decoration: none;
}

.wrapper .maincontaint .main .description a span:hover{
    color: green;
}

/*-----------------------------------------------------------main table---------------------------------------------------------------------------------------*/
.wrapper .maincontaint .main .members .table-title{
    color: green;
}

.wrapper .maincontaint .main .members .table{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 40px;

}
.wrapper .maincontaint .main .members .table .table-row-cell{
    display: inline-block;
}

.wrapper .maincontaint .main .members .table .table-cell{
    padding: 10px;

}
.wrapper .maincontaint .main .members .table .table-row-cell .circular-landscape{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.wrapper .maincontaint .main .members .table .table-row-cell .circular-landscape .round-image{
    width: auto;
    height: 100%;
    margin-left: -50px;
}

@media (max-width: 800px) {
    .wrapper .maincontaint .main .members .table{
        display: block;
    }
}

/*-----------------------------------------------------------footer---------------------------------------------------------------------------------------*/

.footer{
    background-color: #9e9e9e;
    padding: 20px;
    text-align: center;
    bottom: 0;
}

.footer div {
    margin-left: auto;
    margin-right: auto;
}

.footer .flex {
    display: flex;
    justify-content: center;
    margin: 0;

}
.footer .flex > div {
    width: 200px;
    text-align: center;
    font-size: 15px;

}



.footer .flex .flex-column a span{
    color: dodgerblue;

}

.footer .flex .flex-column a {
    text-decoration: none;
}



/*-----------------------------------------------------------------@media-----------------------------------------------------------------------*/


@media (max-width: 800px) {
    .wrapper .sidebar{
        display: none;
        width: 0;
    }
    .wrapper .maincontaint{
        margin-left: 0px;
    }
    .wrapper .maincontaint .main .header h1{
        padding: 20px;
        font-size: 1.5em;
        top:13%;
    }
    .wrapper .maincontaint .main{
        height: 220vh;
    }

}

