* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .wrapper-vertical{
    display: flex;
    flex-direction: column;
    position: relative;

}

/*-----------------------------------------------------------sidebar---------------------------------------------------------------------------------------*/

.wrapper .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #f5f5f5;
}

.wrapper .sidebar img {
    box-sizing: border-box;
    display: block;
    float: none;
    position: static;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 15px;
    background-color: #f5f5f5;
}

.wrapper .sidebar .nav {
    list-style-type: none;
    width: 100%;
    margin-top: 20px;
    border-top: 2px solid #f5f5f5;
}


.wrapper .sidebar .nav li a {
    display: block;
    text-decoration: none;
    color: steelblue;
    padding: 12px 16px;
}

.wrapper .sidebar .nav li a .fas {
    width: 30px;
    float: right;
    font-size: 20px;
}

.wrapper .sidebar .nav li a .fab {
    width: 28px;
    float: right;
    font-size: 20px;
}

.wrapper .sidebar .nav li a:hover:not(.active) {
    color: white;
    background-color: steelblue;
}

.wrapper .sidebar .nav a.active {
    color: white;
    background-color: rgb(69, 161, 57);
}




/*-----------------------------------------------------------main containt---------------------------------------------------------------------------------------*/

.wrapper .maincontaint {
    width: 100%;
    margin-left: 250px;
}

.wrapper .maincontaint .titleBar {

    color: white;
    padding: 20px;
    background-image: linear-gradient(rgb(69, 161, 57), rgba(69, 161, 57, 0.7));
    text-align: center;

}

.wrapper .maincontaint .main {
    text-align: center;
    width: 90%;
    box-shadow: 0.5px 0.5px 10px #9e9e9e;
    border-radius: 10px;
    margin: 20px auto 10px;
}

.wrapper .maincontaint .main .header {
    padding: 20px;
    text-align: center;
}

.wrapper .maincontaint .main .header img{
    width:100%; height:200px;
    object-fit: cover;
    object-position: 0 80%;
    border-radius: 10px;
    filter: blur(1px);
}

.wrapper .maincontaint .main .header h1{
    position: absolute;
    top:22%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #577284;
    background-color: rgba(255,255,255,0.9);
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2.5em;
    font-family: Helvetica Neue,sans-serif;
}

.wrapper .maincontaint .main .description {
    text-align: left;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: "Arial Narrow", sans-serif;
    width: 96.7%;
    background-image: linear-gradient(to right,rgb(69, 161, 57),whitesmoke);

}

.wrapper .maincontaint .main .description .text {
    margin-left: 1%;
    background: white;
    padding: 1rem;
    border-width: 3px;
}

.wrapper .maincontaint .main .description span {
    color: dodgerblue;
}


/*-----------------------------------------------------------main table---------------------------------------------------------------------------------------*/

.wrapper .maincontaint .main .functionalities{
    align-items: center;
    display: flex;
    height: 60vh;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
}

@media (max-width:800px) {
    .wrapper .maincontaint .main .functionalities{
        display: block;
    }
}
/*-----------------------------------------------------------main cards---------------------------------------------------------------------------------------*/

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    height: 300px;
    margin: 20px;
    padding: 0 20px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0.025);
    text-align: center;
    width: 260px;
    transition: all 400ms;
}
.card:hover{
    transform: scale(0.95);
}

.card img{
    width: 200px;
    height: 200px;
}

.card.expanded {
    height: 400px;
}

.text1 {
    clip-path:inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
    transition: clip-path 400ms;
}
.card.expanded .text1 {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
}
.text2 {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
    transition: clip-path 400ms;
}
.card.expanded .text2 {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
}

.text3 {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
    transition: clip-path 400ms;
}
.card.expanded .text3 {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
}

.text-content {
    transform: translateY(-110px);
    transition: transform 400ms;
}

.text2 .text-content{
    transform: translateY(-124px);
    transition: transform 400ms;
}

.card.expanded .text-content {
    transform: translateY(-5px);
}
.chevron {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 15px);
    transform-origin: 50%;
    transform: rotate(180deg);
    transition: transform 400ms;
}
.card.expanded .chevron {
    transform: rotate(0deg);
}
.title {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    margin: 20px 0 12px;
}

.body-text {
    padding: 0 20px;
}





/*-------------------------------------------------------------------------Get Started--------------------------------------------------------------------*/


.wrapper .maincontaint .wrapper-vertical .header .getstarted .btn{
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.wrapper .maincontaint .wrapper-vertical .header .getstarted .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.wrapper .maincontaint .wrapper-vertical .header .getstarted .btn:before {
    font-family: 'FontAwesome',sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.wrapper .maincontaint .wrapper-vertical .header .getstarted .btn-sep {
    padding: 25px 60px 25px 120px;
}

.wrapper .maincontaint .wrapper-vertical .header .getstarted .btn-sep:before {
    background: rgba(0,0,0,0.15);
}



/* Button 3 */
.wrapper .maincontaint .wrapper-vertical .header .getstarted .btn-4 {
    background-image: linear-gradient(#4CAF50,green);
    color: #fff;

}

.wrapper .maincontaint .wrapper-vertical .header .getstarted .btn-4:hover {
    background-image: linear-gradient(#45a049,green);
    transform: scale(0.95);
}

.wrapper .maincontaint .wrapper-vertical .header .getstarted .btn-4:active {
    background-image: linear-gradient(#45a049,green);
    top: 2px;
}

.wrapper .maincontaint .wrapper-vertical .header .getstarted .btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;

}

/* Icons */

.wrapper .maincontaint .wrapper-vertical .header .getstarted .icon-send:before {
    content: "\f178";
}




/*-----------------------------------------------------------------------Footer---------------------------------------------------------------------------*/

.footer{
    background-color: #9e9e9e;
    padding: 20px;
    text-align: center;
    bottom: 0;
}

.footer div {
    margin-left: auto;
    margin-right: auto;
}

.footer .flex {
    display: flex;
    justify-content: center;
    margin: 0;

}
.footer .flex > div {
    width: 200px;
    text-align: center;
    font-size: 15px;

}



.footer .flex .flex-column a span{
    color: dodgerblue;

}

.footer .flex .flex-column a {
    text-decoration: none;
}



/*-----------------------------------------------------------------@media-----------------------------------------------------------------------*/
@media (max-width: 1500px){
    .wrapper  .maincontaint .wrapper-vertical .main .functionalities{
        position: relative;
        margin-right: 35%;
    }

    .card {
        left: calc(50% - 20px);
        transform: translateX(-50%);
        height: 250px;
        width: 210px;

    }
    .card:hover{
        transform: scale(0.95) translate(-51%);
    }
    .card.expanded{
        height: 350px;
    }
    .card img{
        width: 145px;
        height: 145px;
    }

    .text2 .text-content{
        transform: translateY(-150px);
        transition: transform 400ms;
    }

    .text2 .text-content .body-text{
        font-size: 15px;
    }

    .text2 .text-content .title {
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 900;
        margin: 20px 0 8px;
    }

    .text3 .text-content{
        transform: translateY(-128px);
        transition: transform 400ms;
    }

    .wrapper .maincontaint .main .header h1{
        padding: 25px;
        font-size: 1.8em;
        top:22%;
    }


}

@media (max-width: 1000px){
    .wrapper  .maincontaint .wrapper-vertical .main .functionalities{
        position: relative;
        margin-right: 33%;
    }

    .card {
        left: calc(50% - 20px);
        transform: translateX(-50%);
        height: 200px;
        width: 150px;

    }
    .card:hover{
        transform: scale(0.95) translate(-51%);
    }
    .card.expanded{
        height: 300px;
    }
    .card.expanded .title{
        margin-top: 6px;
    }

    .card img{
        width: 100px;
        height: 100px;
    }

    .text2 .text-content{
        transform: translateY(-150px);
        transition: transform 400ms;
    }

    .text2 .text-content .body-text{
        font-size: 15px;
    }

    .text2 .text-content .title {
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 900;
        margin: 25px 0 3px;
        font-size: 20px;
    }
    .text-content .title {
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 900;
        margin: 26px 0 3px;
        font-size: 20px;
    }

    .text3 .text-content{
        transform: translateY(-128px);
        transition: transform 400ms;
    }
    .wrapper .maincontaint .main .header h1{
        padding: 24px;
        font-size: 1.5em;
        top:22%;
    }


}


@media (max-width: 800px) {

    .wrapper .sidebar{
        display: none;
        width: 0;
    }
    .wrapper .maincontaint{
        margin-left: 0px;
    }
    .wrapper .maincontaint .main .header h1{
        padding: 20px;
        font-size: 1.5em;
        top:13%;
    }
    .wrapper .maincontaint .main{
        height: 220vh;
    }


    .wrapper  .maincontaint .wrapper-vertical .main .functionalities{
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
}



