<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Downloads</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/downloads.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/static.css}"/>
    <script src="https://kit.fontawesome.com/423fa2e65b.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <!--        <img src="https://i.ibb.co/L150TvG/logo-medical.jpg">-->
        <img src="https://i.ibb.co/2Z2n6YF/Logo-App-Final.png" style="width: 230px;height: auto;margin:0 auto 0 auto;">
        <nav>
            <ul class="nav">
                <li><a th:href="@{/welcome}">Home <i class="fas fa-book-open"></i></a></li>
                <li><a th:href="@{/prescriptions/showTools}">Prescription tools <i class="fas fa-language"></i> </a>
                </li>
                <li><a class="active" th:href="@{/download}">Downloads <i class="fab fa-android"></i></a></li>
                <li><a th:href="@{/team}">Team Members <i class="fas fa-users"></i></a></li>
                <li><a th:href="@{/contact}">Contact and support <i style="width: 28px"
                                                                    class="fas fa-envelope-open"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="maincontaint">
        <div class="wrapper-vertical">
            <div class="titleBar">
                <h2>Tradimed</h2>
            </div>
            <div class="main">
                <div class="header ">
                    <div style="position: relative">
                        <img src="https://i.ibb.co/5sXR3x2/mobile.jpg"/>
                        <h1 style="position: absolute;margin-top: 55px">Downloads</h1>
                    </div>
                </div>
                <div class="description">
                    <div class="text">We provide for you an alternative <b>Android app</b> and different ways to
                        install into your mobile device :
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-column">
                        <img id="devices" src="https://i.ibb.co/HD9Y0q9/devices.png">
                        <div class="playstore_ic">
                            <a href="#">
                                <img id="available" src="https://i.ibb.co/NZpr305/en-badge-web-generic.png">
                            </a>

                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="vl"></div>
                        <div style="font-size: 18px;font-family: Arial, Helvetica, sans-serif">OR</div>
                        <div class="vl"></div>
                    </div>
                    <div class="flex-column">
                        <div style="text-align: center">You can also scan this QR code to <span>download it</span></div>
                        <div class="qr_container">
                            <img id="qr" src="https://i.ibb.co/CWFYFs1/qrcode.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="flex">
                <div class="flex-column">
                    <a th:href="@{/team}"><span>About us</span></a>
                </div>
                <div class="flex-column">
                    All Rights Reserved ©
                </div>
                <div class="flex-column">
                    <a th:href="@{/contact}"><span>Contact us</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
